<div style="text-align:center" style="background-color: gray">
  <body>
		<div align="center" style="background-color: gray">
			<table id="Table1" height="100%" width="60%" style="background-color: white">
				<tbody><tr>
					<td valign="middle" align="center">
						<table id="Table2" cellspacing="0" cellpadding="0" width="755" align="center" border="0">
							<tbody><tr>
								<td class="header" valign="top"> <!-- HEADER INFORMATION-->
									<table id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
										<tbody><tr>
											<td class="HEADER" valign="top" width="390"><img height="95" src="../../assets/1.png" width="100%"></td>
											<!-- <td class="headerright" valign="top" align="right" width="365"><img height="36" src="../../assets/menuheadertop.gif" width="355"><br>
												<a href="#"></a>
												<br>
												&nbsp;</td> -->
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td class="mainbody" valign="top"> <!-- MAIN BODY SECTION-->
									<table id="Table4" cellspacing="0" cellpadding="0" width="100%" border="0">
										<tbody><tr>
											<td class="mainleft" valign="top" width="353"><img height="219" src="../../assets/welcome.jpg" width="353">
												<p><span class="title">Welcome to <em>my</em>AscentPayroll</span><br><font size="1">
													- the Employee self service portal powered by <a href="http://www.eilisys.com" target="_blank">
														<span class="titleSmall">Eilisys</span></a>.<br>
													<br>
													Eilisys is a leading Payroll Software provider in India. More than 100 corporates have 
													allowed Eilisys to become part of their success and Eilisys has demonstrated an 
													unprecedented commitment to innovation and continual improvement.<br>
													<br>
													Employee self service on the web is relatively new in HR as far as the industry 
													goes. Therefore, we wish to hear from you about how can we improve this site to 
													serve you better. Please use our&nbsp;<a onclick="javascript:OpenFeedBackForm();" href="javascript:void(0)">
														<span class="titleSmall">feedback form</span></a>&nbsp;or send mail to <a href="mailto:feedback@myascentpayroll.com">
														feedback@myascentpayroll.com</a> </font>
													<br>
												</p>
											</td>
											<td class="dividervert" width="15"></td>
											<td valign="top">
												<table id="Table5" height="208" cellpadding="35" width="346" align="center">
													<tbody><tr valign="middle">
														<td valign="middle" align="center" width="100%" height="100%">
															<table id="Table6" height="130" width="253" background="../../assets/logonESS.jpg">
																<tbody><tr>
																	<td colspan="2" height="70"></td>
																</tr>
																<tr>
																	<td valign="top" align="right" width="135" height="25">
																		<div align="center">
																			<input id="Image1" (click)="home()" type="image" src="../../assets/loginnow.jpg" width="90" height="25" align="right" name="Image1">
																		</div>
																	</td>
																	<td height="25"></td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table>
												<img height="16" src="../../assets/divider.gif" width="335">
												<p><span class="title" style="COLOR: #bf670e">&nbsp; Recommended Reading</span><br>
<br>
													<img src="../../assets/arrow.gif"> <a href=".\documents\Tax Essentials for Individuals FY 2013-14.pdf" target="_blank">Tax Essentials for Individuals 
														FY 2013-14</a>
													<br>	
													<br>
													<img src="../../assets/arrow.gif"> <a href=".\documents\Tax Essentials for Individuals FY 2012-13.pdf" target="_blank">Tax Essentials for Individuals 
														FY 2012-13</a>

													<br><br>
													<img src="../../assets/arrow.gif"> <a href=".\documents\Tax Essentials for Individuals FY 2011-12.pdf" target="_blank">Tax Essentials for Individuals 
														FY 2011-12 </a>
													<br><br>
													
													<img src="../../assets/arrow.gif"> <a href=".\documents\Tax Essentials for Individuals FY 2010-11.pdf" target="_blank">Tax Essentials for Individuals 
														FY 2010-11</a>
													<br>	
											</p>
											</td>
										</tr>
									</tbody></table>
									<br>
								</td>
							</tr>
							<tr>
								<td class="footer" valign="top" style="background-color: cornflowerblue" > <!-- FOOTER SECTION-->
									<table id="Table7" cellspacing="0" cellpadding="0" width="100%" border="0">
										<tbody><tr>
											<td class="footerleft" valign="top">Copyright 2007. © <a href="http://www.eilisys.com" target="_blank">
													Eilisys Technologies Pvt. Ltd.</a> All Rights Reserved</td>
											<td class="footerright" valign="top"><a href="PrivacyStatement.html" target="_blank">Privacy 
													Policy</a> | <a href="TermsofUSE.html" target="_blank">Terms of Use</a></td>
										</tr>
									</tbody></table>
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
		</div>
</body>
</div>