<p>
  change-password works!
</p>
<div *ngIf="confirmPassword">
   
    <label>Enter old password</label><input type="text" [(ngModel)]="oldPassword" ><br>
    <button (click)="confirm()">Confirm </button>
    
</div>

<div *ngIf="changePassword">
    <label>Enter new password</label><input type="text" [(ngModel)]="user.login.login_pass"><br>
    <label>Enter conform password</label><input type="text"><br>
    <button (click)="changepass()" style="background-color: rgb(0, 110, 255)">change password</button>
</div>
